html,
body,
#root {
  height: 100%;
}

#root > div {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

/* the content */
#root > div > div:nth-child(2) {
  flex: 1 1 auto;
  border-radius: 0px;
}

/* the footer */
#root > div > div:last-child {
  flex: 0 0 auto;
}

.ui.container > p > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.ui.container > p > div > a {
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  padding: 0.5em;
  margin: auto;
}
